data/raw/*
data/preprocessed/train/*
data/preprocessed/val/*
data/preprocessed/test/*
!data/raw/.gitkeep
!data/preprocessed/train/.gitkeep
!data/preprocessed/val/.gitkeep
!data/preprocessed/test/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

__pycache__